# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.mypy_cache/
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
!test/*

# Node.js stuff:
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environments
.env
.env.local
.env.*.local
*.env
*.env.*

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
Dockerfile

# PyCharm
.idea/

# VS Code
.vscode/
*.code-workspace

# Sphinx documentation
docs/_build/
